<!doctype html>
<head>
    <title>Test</title>

</head>


<div class="container">
    <div class="row">
        <div class="col">

            <h1>GET SWEEPIN</h1>
            <hr>

            <form action="/sweep" method="POST">
                <div class="player">
                    <label>Player:</label>
                    <input type="Radio" class="form-control" id="player" value="p1" name="Player">{{variable1}}
                    <input type="Radio" class="form-control" id="player" value="p2" name="Player">{{variable2}}
                    <input type="Radio" class="form-control" id="player" value="p3" name="Player">{{variable3}}
                    <input type="Radio" class="form-control" id="player" value="p4" name="Player">{{variable4}}
                </div>
                <div class="Select one">
                    <label>{{sin}}</label>
                    <input type="Radio" class="form-control" id="item" value="si1" name="items1">
                </div>
                <div class="Select one">
                    <label>{{si2n}}</label>
                    <input type="Radio" class="form-control" id="item" value="si2" name="items1">
                </div>
                <div class="Select one">
                    <label>{{si3n}}</label>
                    <input type="Radio" class="form-control" id="item" value="si3" name="items1">
                </div>
                <div class="Select one">
                    <label>{{si4n}}</label>
                    <input type="Radio" class="form-control" id="item" value="si4" name="items2">
                </div>
                <div class="Select one">
                    <label>{{si5n}}</label>
                    <input type="Radio" class="form-control" id="item" value="si5" name="items2">
                </div>
                <div class="Select one">
                    <label>{{si6n}}</label>
                    <input type="Radio" class="form-control" id="item" value="si6" name="items2">
                </div>
                <div class="Select one">
                    <label>{{si7n}}</label>
                    <input type="Radio" class="form-control" id="item" value="si7" name="items3">
                </div>
                <div class="Select one">
                    <label>{{si8n}}</label>
                    <input type="Radio" class="form-control" id="item" value="si8" name="items3">
                </div>
                <div class="Select one">
                    <label>{{si9n}}</label>
                    <input type="Radio" class="form-control" id="item" value="si9" name="items3">
                </div>

            </form>
            <form action='/score.html'>
                <input type="submit" name="back to Final Score" value="Final Score">
            </form>
        </div>
    </div>
</div>