<!doctype html>
<head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <style>
        body { background-color: black;
        }
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<li class="w3-theme-d5">
    <div class="content">
        <div class="row">
            <div class="col">

                <h1>Player Enrollment!</h1>
                <hr>

                <p> To use: fill in all of the blank areas and hit "Enroll"</p>

                <form action="/sign-up" method="POST">

                    <div class="Player1">
                        <label>Player1</label>
                        <input type="text" class="form-control" id="Player1" name="Player1" placeholder="Select a username">
                    </div>

                    <div class="Player2">
                        <label>Player2</label>
                        <input type="text" class="form-control" id="Player2" name="Player2" placeholder="Select a username">
                    </div>

                    <div class="Player3">
                        <label>Player3</label>
                        <input type="text" class="form-control" id="Player3" name="Player3" placeholder="Select a username">
                    </div>

                    <div class="Player4">
                        <label>Player4</label>
                        <input type="text" class="form-control" id="Player4" name="Player4" placeholder="Select a username">
                    </div>

                    <button type="submit" class="btn btn-primary">Enroll players!</button>

                </form>

            </div>
        </div>



        <form action="/prize.html">
            <input type="submit" value="Lets see what they're playing for!" />
        </form>
   
    
    </div>
</li>