<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <style>
        body {
            background-color: black;
            color: white;
        }

        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>

    <div class="content">
        <div class="center">
            <p>m</p>
            <h1>The Scoreboard!</h1>

            This is Round {{ variable10 }}, remember not to exceed round 10 or else everything is going to break.

            <p>{{variable5}} {{variable}}</p>
            <p>{{variable6}} {{variable2}}</p>
            <p>{{variable7}} {{variable3}}</p>
            <p>{{variable8}} {{variable4}}</p>

            <form action="/question.html">
                <input type="submit" value="Lets get back to the game!" />
            </form>
         </div>
     </div>

</body>