<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <style>
        body {
            background-color: black;
            color: white;
        }

        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
    
</head>
<body>

    <div class="content">
        
            <h1>The Scoreboard!</h1>

            Here is the final tally! Good job!

            <p>{{variable5}} {{variable}} {{variable11}}</p>
            <p>{{variable6}} {{variable2}} {{variable12}}</p>
            <p>{{variable7}} {{variable3}} {{variable13}}</p>
            <p>{{variable8}} {{variable4}} {{variable14}}</p>
            </div>
        
</body>